@charset "UTF-8";
.info-popup .popup-window {
  max-width: 430px;
}

@media all and (max-width: 550px) {
  .info-popup .popup-window {
    max-width: 90vw;
  }
}

.info-popup .popup-content {
  padding: 65px 45px 55px;
}

.info-popup [data-popup-close] {
  top: 23px;
  right: 18px;
}

.info-popup.sorry_rezerv .popup-content {
  padding: 50px 50px 35px;
}

.info-popup.sorry_rezerv .pup_title {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0;
}

@media all and (max-width: 550px) {
  .info-popup.sorry_rezerv .pup_text {
    text-align: center;
  }
}

.zone-popup .popup-window {
  background-color: transparent;
}

.zone-popup .popup-content {
  padding: 0;
  width: 820px;
  height: 591px;
  max-width: 90vw;
  background: transparent url("../img/mangal_zone.jpg") no-repeat top center/contain;
}

.zone-popup .popup-inner {
  margin-right: -17px;
}

@media all and (max-width: 500px) {
  .zone-popup .popup-inner {
    margin-right: 0;
  }
}

@media all and (max-width: 500px) {
  .zone-popup .popup-inner [data-popup-close] {
    right: 15px;
    top: 15px;
  }
}

.confirmation-popup .popup-content {
  width: 885px;
  padding: 65px 45px 245px;
}

@media all and (max-width: 1020px) {
  .confirmation-popup .popup-content {
    width: 90vw;
  }
}

@media all and (max-width: 760px) {
  .confirmation-popup .popup-content {
    padding: 20px 20px 30px;
  }
}

.confirmation-popup .pup_title {
  margin-top: 0;
}

@media all and (max-width: 760px) {
  .confirmation-popup .pup_title {
    display: none;
  }
}

.confirmation-popup .pup_text {
  max-width: 510px;
}

@media all and (max-width: 760px) {
  .confirmation-popup .pup_text {
    font-size: 11px;
  }
}

.confirmation-popup .check {
  margin-top: 103px;
  margin-bottom: 50px;
}

@media all and (max-width: 760px) {
  .confirmation-popup .check {
    width: 141px;
    height: 109px;
    margin-top: 30px;
  }
}

.confirmation-popup .alt_date {
  text-decoration: none;
  margin-bottom: 2px;
  font: normal normal 800 19px/58px Montserrat;
  letter-spacing: 0px;
  line-height: 10px;
}

@media all and (max-width: 760px) {
  .confirmation-popup .alt_date {
    font-size: 16px;
  }
}

.confirmation-popup .blue_wave_link {
  margin-top: 40px;
}

@media all and (max-width: 760px) {
  .confirmation-popup .blue_wave_link {
    margin-top: 30px;
  }
}

.confirmation-popup .sux_text {
  cursor: default;
  font: normal normal bold 24px/40px Montserrat;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 8px;
}

@media all and (max-width: 760px) {
  .confirmation-popup .sux_text {
    font-size: 18px;
  }
}

.booking-popup .popup-content {
  width: 885px;
  padding: 50px 60px 45px;
}

@media all and (max-width: 1020px) {
  .booking-popup .popup-content {
    width: 90vw;
  }
}

@media all and (max-width: 760px) {
  .booking-popup .popup-content {
    padding: 20px 20px 30px;
  }
}

.booking-popup .pup_text_style {
  letter-spacing: 0.3px;
}

@media all and (max-width: 760px) {
  .booking-popup .pup_text_style {
    font-size: 18px;
    margin-top: 26px;
    margin-bottom: 10px;
  }
}

.booking-popup .popup-inner [data-popup-close] {
  right: 22px;
  top: 28px;
}

@media all and (max-width: 760px) {
  .booking-popup .popup-inner [data-popup-close] {
    top: 20px;
  }
}

.booking-popup .progress_line_wrap {
  display: flex;
  align-items: center;
}

@media all and (max-width: 760px) {
  .booking-popup .progress_line_wrap {
    justify-content: center;
  }
}

.booking-popup .progress_line_wrap .step {
  position: relative;
  cursor: pointer;
}

@media all and (max-width: 760px) {
  .booking-popup .progress_line_wrap .step + .line + .step {
    margin-left: 15px;
  }
}

.booking-popup .progress_line_wrap .step .img_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 49px;
  border: 2px solid #00263a;
  opacity: 0.3;
  transition: opacity 360ms;
}

@media all and (max-width: 760px) {
  .booking-popup .progress_line_wrap .step .img_wrap {
    width: 8px;
    height: 8px;
    border: 1px solid #00263a;
  }
}

@media all and (max-width: 760px) {
  .booking-popup .progress_line_wrap .step .img_wrap img {
    display: none;
  }
}

.booking-popup .progress_line_wrap .step span {
  cursor: pointer;
  position: absolute;
  top: 105%;
  color: #00263a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  left: 50%;
  transform-origin: top left;
  transform: translateX(-50%);
  opacity: 0.3;
  transition: opacity 180ms;
}

@media all and (max-width: 760px) {
  .booking-popup .progress_line_wrap .step span {
    color: transparent;
    width: 15px;
    height: 15px;
    top: -4px;
    left: 2px;
    overflow: hidden;
  }
}

.booking-popup .progress_line_wrap .step.active .img_wrap,
.booking-popup .progress_line_wrap .step.active span {
  opacity: 1;
  transition: opacity 360ms;
}

@media all and (max-width: 760px) {
  .booking-popup .progress_line_wrap .step.active .img_wrap {
    background-color: #00263a;
  }
}

.booking-popup .progress_line_wrap .line {
  flex: 1 1 auto;
  height: 2px;
  background-color: #00263a;
  opacity: 0.3;
  transition: opacity 360ms;
}

@media all and (max-width: 760px) {
  .booking-popup .progress_line_wrap .line {
    display: none;
  }
}

.booking-popup .progress_line_wrap .line.active {
  opacity: 1;
  transition: opacity 360ms;
}

.booking-popup .booking_date {
  margin-top: 23px;
  margin-bottom: 20px;
}

@media all and (max-width: 760px) {
  .booking-popup .booking_date {
    margin-top: -8px;
    margin-bottom: -12px;
  }
}

.booking-popup .booking_date p {
  cursor: default;
  font: normal normal 800 16px/58px Montserrat;
  letter-spacing: 0.16px;
  color: #00263a;
}

@media all and (max-width: 760px) {
  .booking-popup .booking_date p {
    font-size: 11px;
  }
}

.booking-popup .booking_date p span {
  cursor: default;
  font: normal normal normal 14px/23px Montserrat;
  letter-spacing: 0px;
}

@media all and (max-width: 760px) {
  .booking-popup .booking_date p span {
    font-size: 13px;
  }
}

.booking-popup .dates_table_wrap {
  border: 2px solid #00263a;
  padding: 27px 40px 40px 40px;
}

@media all and (max-width: 760px) {
  .booking-popup .dates_table_wrap {
    padding: 0 27px 18px 23px;
  }
}

.booking-popup .month_switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-popup .month_switch .month {
  width: 235px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.16px;
  line-height: 58px;
  text-align: center;
  cursor: default;
}

@media all and (max-width: 760px) {
  .booking-popup .month_switch .month {
    font-size: 11px;
    width: 135px;
  }
}

.booking-popup .month_switch button {
  width: 20px;
  height: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.booking-popup .month_switch button:before {
  content: "";
  display: block;
  width: 20px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.booking-popup .month_switch button.prew_mnth:before {
  transform: rotate(180deg);
  background: url("../img/calendar_arrow.svg") no-repeat center/10px auto;
}

@media all and (max-width: 760px) {
  .booking-popup .month_switch button.prew_mnth:before {
    background: url("../img/calendar_arrow.svg") no-repeat center/7px auto;
  }
}

.booking-popup .month_switch button.next_mnth:before {
  background: url("../img/calendar_arrow.svg") no-repeat center/10px auto;
}

@media all and (max-width: 760px) {
  .booking-popup .month_switch button.next_mnth:before {
    background: url("../img/calendar_arrow.svg") no-repeat center/7px auto;
  }
}

.booking-popup .days_line_wrap {
  padding-top: 11px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 760px) {
  .booking-popup .days_line_wrap {
    padding-top: 0;
    margin-top: -5px;
    padding-bottom: 10px;
  }
}

.booking-popup .days_line_wrap p {
  cursor: default;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  line-height: 20px;
  width: 44px;
  text-align: center;
}

@media all and (max-width: 760px) {
  .booking-popup .days_line_wrap p {
    font-size: 11px;
    width: 20px;
  }
}

.booking-popup .calendar .line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-popup .calendar .line + .line {
  margin-top: 20px;
}

@media all and (max-width: 760px) {
  .booking-popup .calendar .line + .line {
    margin-top: 14px;
  }
}

.booking-popup .calendar .day {
  width: 44px;
  height: 44px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
  opacity: 1;
  transform: scale(1);
  transition: opacity 180ms, color 180ms, background-color 180ms, box-shadow 180ms, transform 180ms;
}

@media all and (max-width: 760px) {
  .booking-popup .calendar .day {
    font-size: 11px;
    width: 20px;
    height: 20px;
    padding: 0;
    line-height: 20px;
  }
}

.booking-popup .calendar .day.disabled {
  opacity: 0.3;
  cursor: default;
}

.booking-popup .calendar .day.curent {
  opacity: 1;
  font-weight: 700;
}

.booking-popup .calendar .day.active {
  background-color: #a42b45;
  opacity: 1;
  color: #fff;
  transition: opacity 180ms, color 180ms, background-color 180ms, box-shadow 180ms, transform 180ms;
}

.booking-popup .calendar .day:hover:not(.disabled) {
  background-color: #a42b45;
  opacity: 1;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.18);
  transition: opacity 180ms, color 180ms, background-color 180ms, box-shadow 180ms, transform 180ms;
}

.booking-popup .bnths_wrap {
  display: flex;
  justify-content: flex-end;
}

.booking-popup .blue_wave_link,
.booking-popup .grey_wave_link {
  height: 51px;
  line-height: 0px;
  width: 207px;
  margin-top: 12px;
  padding: 26px 10px 25px;
  letter-spacing: 0px;
}

@media all and (max-width: 760px) {
  .booking-popup .blue_wave_link,
  .booking-popup .grey_wave_link {
    height: 30px;
    width: 135px;
    margin-top: 15px;
    padding: 10px 10px 10px;
    font-size: 8px;
    background-size: 55%, 100%;
    background-position-x: -43%;
    background-position-y: 2px;
  }
}

.booking-popup .altanka_selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 42px;
  margin-bottom: 17px;
}

@media all and (max-width: 770px) {
  .booking-popup .altanka_selector {
    flex-wrap: wrap;
    margin-top: 11px;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 770px) {
  .booking-popup .altanka_selector .select_and_map {
    flex: 1 1 100%;
    margin-bottom: 15px;
  }
}

.booking-popup .altanka_selector .select_and_map .booking_type {
  cursor: default;
  display: flex;
  align-items: center;
  color: #00263a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.16px;
  margin-bottom: 13px;
}

@media all and (max-width: 750px) {
  .booking-popup .altanka_selector .select_and_map .booking_type {
    flex-wrap: wrap;
    font-size: 11px;
    margin-bottom: 6px;
  }
}

.booking-popup .altanka_selector .select_and_map .booking_type span {
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
}

@media all and (max-width: 750px) {
  .booking-popup .altanka_selector .select_and_map .booking_type span {
    width: 100%;
    padding-left: 0;
    margin-top: -2px;
  }
}

.booking-popup .altanka_selector .select_and_map .show_map {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.14px;
  line-height: 20px;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
}

@media all and (max-width: 750px) {
  .booking-popup .altanka_selector .select_and_map .show_map {
    font-size: 10px;
  }
}

.booking-popup .altanka_selector .select_and_map .show_map:hover {
  text-decoration: none;
}

.booking-popup .altanka_selector .drop_down_wrap {
  width: 300px;
  height: 50px;
  border: 2px solid #00263a;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transition: opacity 180ms;
}

@media all and (max-width: 750px) {
  .booking-popup .altanka_selector .drop_down_wrap {
    width: 100%;
  }
}

.booking-popup .altanka_selector .drop_down_wrap:hover {
  opacity: 0.4;
  transition: opacity 180ms;
}

.booking-popup .altanka_selector .drop_down_wrap.active {
  opacity: 1;
  transition: opacity 180ms;
}

.booking-popup .altanka_selector .drop_down_wrap .title {
  position: absolute;
  left: 20px;
  top: -10px;
  cursor: pointer;
  background-color: #fff;
  width: 95px;
  height: 20px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.11px;
  line-height: 20px;
  text-align: left;
  text-align: center;
}

.booking-popup .altanka_selector .drop_down_wrap img {
  margin-left: 20px;
  width: 15px;
  height: 9px;
}

.booking-popup .altanka_selector .drop_down_wrap .selcted {
  color: #00263a;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  margin-left: 17px;
}

@media all and (max-width: 750px) {
  .booking-popup .altanka_selector .drop_down_wrap .selcted {
    font-size: 11px;
  }
}

.booking-popup .altanka_selector .drop_down_wrap .drop {
  z-index: 1;
  top: 110%;
  left: -2px;
  position: absolute;
  width: calc(100% + 4px);
  border: 2px solid #00263a;
  background-color: #fff;
  padding: 20px;
}

.booking-popup .altanka_selector .drop_down_wrap .drop div {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-left: 33px;
}

.booking-popup .altanka_selector .drop_down_wrap .drop div.selected {
  font-weight: 600;
  position: relative;
}

.booking-popup .altanka_selector .drop_down_wrap .drop div.selected:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 17px;
  height: 13px;
  background: url("../img/checked-symbol.svg") no-repeat center/contain;
}

.booking-popup .altanki_wrap {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
}

.booking-popup .altanki_wrap .altanka {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid #707070;
  background-color: #ffffff;
  color: #00263a;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding-top: 8px;
  line-height: normal;
  margin-bottom: 15px;
  margin-left: 15px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0);
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

@media all and (max-width: 750px) {
  .booking-popup .altanki_wrap .altanka {
    width: 45px;
    height: 45px;
    margin-bottom: 14px;
  }
}

.booking-popup .altanki_wrap .altanka span {
  cursor: pointer;
  display: block;
  font-size: 10px;
  color: #00263a;
  font-weight: 400;
  transition: color 180ms;
}

.booking-popup .altanki_wrap .altanka span:before {
  content: "₴";
}

.booking-popup .altanki_wrap .altanka.reserved {
  cursor: default;
  background-color: #878787;
}

.booking-popup .altanki_wrap .altanka.reserved span {
  cursor: default;
}

.booking-popup .altanki_wrap .altanka.active {
  border: 1px solid #a42b45;
  background-color: #a42b45;
  color: #fff;
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

.booking-popup .altanki_wrap .altanka.active span {
  color: #fff;
  transition: color 180ms;
}

.booking-popup .altanki_wrap .altanka.booked {
  border: 1px solid #00263a;
  background-color: #00263a;
  color: #fff;
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

.booking-popup .altanki_wrap .altanka.booked span {
  color: #fff;
  transition: color 180ms;
}

.booking-popup .altanki_wrap .altanka:hover:not(.reserved):not(.active) {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #a42b45;
  color: #fff;
  transform: scale(1.15);
  border: 1px solid #a42b45;
  transition: box-shadow 180ms, color 180ms, border 180ms, transform 180ms, background-color 180ms;
}

.booking-popup .altanki_wrap .altanka:hover:not(.reserved):not(.active) span {
  color: #fff;
  transition: color 180ms;
}

.booking-popup .altanki_wrap:after {
  content: "";
  flex: 1 1 auto;
}

.booking-popup .status_wrap {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

@media all and (max-width: 770px) {
  .booking-popup .status_wrap {
    flex-wrap: wrap;
  }
}

.booking-popup .status_wrap p {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  line-height: 20px;
  margin-right: 53px;
  cursor: default;
  text-transform: uppercase;
}

@media all and (max-width: 770px) {
  .booking-popup .status_wrap p {
    flex: 1 1 100%;
    margin-bottom: 3px;
    font-size: 11px;
  }
}

.booking-popup .status_wrap .status {
  display: flex;
  align-items: center;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin-right: 26px;
  cursor: default;
}

@media all and (max-width: 750px) {
  .booking-popup .status_wrap .status {
    margin-bottom: 5px;
  }
}

.booking-popup .status_wrap .status span {
  width: 19px;
  height: 19px;
  margin-right: 12px;
}

@media all and (max-width: 750px) {
  .booking-popup .status_wrap .status span {
    width: 15px;
    height: 15px;
  }
}

.booking-popup .status_wrap .status span.empty {
  border: 1px solid #707070;
  background-color: #ffffff;
}

.booking-popup .status_wrap .status span.selected {
  background-color: #a42b45;
}

.booking-popup .status_wrap .status span.reserved {
  background-color: #878787;
}

.booking-popup .status_wrap .status span.booked {
  background-color: #00263a;
}

.booking-popup .reserv_data {
  color: #00263a;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 217px;
  margin-top: 5px;
  margin-bottom: 8px;
  cursor: default;
}

@media all and (max-width: 770px) {
  .booking-popup .reserv_data {
    padding-left: 0;
  }
}

.booking-popup .preson_count {
  display: flex;
  align-items: baseline;
}

@media all and (max-width: 770px) {
  .booking-popup .preson_count {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.booking-popup .preson_count > p {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  line-height: 20px;
  margin-right: 41px;
  cursor: default;
  text-transform: uppercase;
  white-space: nowrap;
}

@media all and (max-width: 770px) {
  .booking-popup .preson_count > p {
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 11px;
  }
}

.booking-popup .preson_count > div {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.booking-popup .preson_count .type {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
}

@media all and (max-width: 750px) {
  .booking-popup .preson_count .type {
    flex: 1 1 100%;
    margin-bottom: 5px;
  }
}

.booking-popup .preson_count .type span {
  width: 68px;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  cursor: default;
}

.booking-popup .preson_count .type span img {
  margin-left: 7px;
  width: 12px;
  height: 16px;
}

.booking-popup .preson_count .type p {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}

.booking-popup .book_form_wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap {
    flex-wrap: wrap;
  }
}

.booking-popup .book_form_wrap .left_part {
  flex: 0 0 300px;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .left_part {
    flex: 1 1 100%;
  }
}

.booking-popup .book_form_wrap .left_part .input_wrap {
  width: 100%;
  height: 50px;
  border: 2px solid #00263a;
  position: relative;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .left_part .input_wrap {
    height: 45px;
  }
}

.booking-popup .book_form_wrap .left_part .input_wrap + .input_wrap {
  margin-top: 18px;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .left_part .input_wrap + .input_wrap {
    margin-top: 10px;
  }
}

.booking-popup .book_form_wrap .left_part .input_wrap label {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}

.booking-popup .book_form_wrap .left_part .input_wrap label input {
  position: absolute;
  width: calc(100% - 30px);
  top: 0;
  left: 30px;
  bottom: 0;
  line-height: 46px;
  border: none;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .left_part .input_wrap label input {
    line-height: 41px;
  }
}

.booking-popup .book_form_wrap .left_part .input_wrap label input:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.booking-popup .book_form_wrap .left_part .input_wrap label .placeholder {
  pointer-events: none;
  position: absolute;
  display: block;
  color: #a2a7aa;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.14px;
  line-height: 20px;
  top: 13px;
  left: 24px;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  transform: translate(0);
  transition: transform 240ms;
}

.booking-popup .book_form_wrap .left_part .input_wrap label input:focus + .placeholder,
.booking-popup .book_form_wrap .left_part .input_wrap label input:valid + .placeholder {
  transform: translate(0, -25px);
  transition: transform 240ms;
}

.booking-popup .book_form_wrap .right_part {
  flex: 1 1 auto;
  padding-left: 40px;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .right_part {
    flex: 1 1 100%;
    padding-left: 0;
    margin-top: 20px;
  }
}

.booking-popup .book_form_wrap .right_part p {
  display: flex;
  align-items: center;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.14px;
  line-height: 20px;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .right_part p {
    font-size: 10px;
  }
}

.booking-popup .book_form_wrap .right_part p + p {
  margin-top: 13px;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .right_part p + p {
    margin-top: 0;
  }
}

.booking-popup .book_form_wrap .right_part p span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  margin-left: 9px;
}

@media all and (max-width: 750px) {
  .booking-popup .book_form_wrap .right_part p span {
    font-size: 10px;
  }
}

.booking-popup.altanki .popup-content {
  padding: 60px 60px 45px;
}

@media all and (max-width: 750px) {
  .booking-popup.altanki .popup-content {
    padding: 20px 20px 30px;
  }
}

.booking-popup.altanki .inner {
  padding-left: 54px;
}

@media all and (max-width: 770px) {
  .booking-popup.altanki .inner {
    padding-left: 0;
  }
}

.booking-popup.altanki .bnths_wrap {
  display: flex;
  justify-content: space-between;
}

.booking-popup.altanki .subtitle {
  color: #00263a;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.16px;
  cursor: default;
}

@media all and (max-width: 750px) {
  .booking-popup.altanki .subtitle {
    font-size: 11px;
  }
}

.booking-popup.altanki .subtitle.s1 {
  margin-top: 47px;
  margin-bottom: 20px;
}

@media all and (max-width: 750px) {
  .booking-popup.altanki .subtitle.s1 {
    margin-top: 15px;
    margin-bottom: 2px;
  }
}

.booking-popup.altanki .subtitle.s2 {
  margin-top: 40px;
  margin-bottom: 8px;
}

@media all and (max-width: 750px) {
  .booking-popup.altanki .subtitle.s2 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
  }
}

.booking-popup.altanki .umovy {
  margin-bottom: 13px;
}

.booking-popup.altanki .umovy li {
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  cursor: default;
}

@media all and (max-width: 750px) {
  .booking-popup.altanki .umovy li {
    font-size: 11px;
    line-height: 18px;
  }
}

.booking-popup.altanki .accept {
  display: flex;
  align-items: center;
}

.booking-popup.altanki .accept input {
  display: none;
}

.booking-popup.altanki .accept span {
  width: 20px;
  height: 20px;
  border: 2px solid #00263a;
  cursor: pointer;
  flex: none;
}

.booking-popup.altanki .accept p {
  cursor: pointer;
  color: #00263a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  margin-left: 15px;
  padding-top: 2px;
}

@media all and (max-width: 750px) {
  .booking-popup.altanki .accept p {
    font-size: 11px;
  }
}

.booking-popup.altanki .accept input:checked + span {
  background: url("../img/checked-symbol.svg") no-repeat center/12px;
}

.booking-popup.altanki .blue_wave_link,
.booking-popup.altanki .grey_wave_link {
  margin-top: 77px;
}

@media all and (max-width: 750px) {
  .booking-popup.altanki .blue_wave_link,
  .booking-popup.altanki .grey_wave_link {
    margin-top: 15px;
  }
}

.pup_title {
  cursor: default;
  text-transform: uppercase;
}

.pup_sub_title {
  font-size: 14px;
  cursor: default;
  margin-bottom: 10px;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.pup_text {
  color: #00263a;
  cursor: default;
  font: normal normal normal 14px/23px Montserrat;
  max-width: 295px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=modal_styles.css.map */